//Primary colors

$SCHOTT-Brand-Blue:#005ABB;
$White: #FFFFFF;

//Secondary colors

$Turquoise: #00ced0;
$Blue-1: #172b4d;
$Blue-2: #062e62;
$Blue-3: #00419c;
$Blue-4: #0050ff;
$Blue-5: #b1dfff;

//Accent colors

$Purple: #7a52cc;
$Berry: #d72378;
$Orange: #ff643c;
$Green: #00c861;
$Yellow: #fce81e;

//Grayscale

$Black: #000000;
$Grey-1: #3b3b3b;
$Grey-2: #646464;
$Grey-3: #A6A6A6;
$Grey-4: #E0E0E0;
$Grey-5: #EBEBEB;
$Grey-6: #f3f3f3;